@{
    ViewData["Title"] = "Home Page";
}

<div>
    These Are My Products
    <ol start="1" type="1">
        <li>product1</li>
        <li>product2</li>
        <li>product3</li>
        <li>product4</li>
        <li>product5</li>
    </ol>
</div>